*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

/* shared style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    .logo h2 {
        font-size: 45px;
        font-weight: 800;

    }

    .colour-or {
        color: #FD6E0A;
    }

    /* main style */
}

header {
    
    margin-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;

}

nav {
    width: 71%;
    max-width: 1600px;
    height: 158px;
     /* border: 2px solid rgb(138, 227, 5);  */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}
.btn{

    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}
.section-heading{
    max-width: 890px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

nav .menu a {
    font-size: 20px;
    color: #474747;

    text-decoration: none;
}
#banner{
     /* border: 2px solid red;   */

    margin: 46px 38px 0 230px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-contain{
    max-width: 580px;
    
}

#banner .banner-contain h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-contain h1{
    font-size: 85px;
    font-weight:bold ;
    color: #181818;
    margin-bottom:20px ;
}
#banner .banner-contain p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img{
    max-width: 584px;
    vertical-align: middle;
     
}
#about{
    padding-top: 130px;

}
#about .about-section{
    width: 71%;
    max-width: 1140px;
   margin:  0 auto;
   text-align: center;
   background-color: #FFF8F3;
   padding: 131px 156px;
}
.about-info{
    display:flex ;
    justify-content: space-around;
}
  .about-info .about-card p{
    line-height: 30px;
    font-size: 20px;
    color: #757575;
}
.about-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
#skills{
    padding-top: 130px;

}
.skills-contayner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
.skill-box{
    display: flex;
    gap: 29px;
}
.skill-card{
    padding: 30px;
    /* border: 2px solid tomato; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000007c;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
}


